spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true  # Для data.sql
  h2:
    console:
      enabled: true
      path: /h2-console
jwt:
  secret: 5KthYmxPcPySdnOjDPhjQafmU6yuKRQebYbumB1Pgrk=  # Ваш ключ